* {
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #dba6f4 -50%, #dba6f4 69.71%, #dba6f4 150%);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container { 
  position: relative;
  width: 240px;
  height: 208px;
  background: url(/images/map.png) no-repeat no-repeat;
  transform: scale(3);
  image-rendering: pixelated;
}


label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
  text-transform: uppercase;
}
input[type="text"]:focus {
  border-color: #ffff45;
}

/* reminder: can use animations for 
in progress conversation icons, and then switch icon to done after */